# Environment
EnvPython/*
**/PythonEnv/*
# credenciales
mail.txt

# db
db.*

# pycache
**/__pycache__

# migrations
**/migrations

# Local files
local_requirements.txt

# sensitive data
**/test/password.k2
**/test/superuserdata.json
# static
**/static

# media
**/media
